  .d-flex{
    display: flex;
  }
  .justify-content-end{
    justify-content: end;
  }
.bg-blue-theme{
    background-color: #3490EB;
}
.border-blue-theme{
   border-color: #3490EB;
}
.bg-blue-theme-300{
    background-color: #D1E8FE;
}
.border-blue-theme-300{
    border-color: #D1E8FE;
}

.bg-cornBlue-theme{
    background-color: #6186FF;
}
.border-cornBlue-theme{
   border-color: #6186FF;
}
.bg-cornBlue-theme-300{
    background-color: #BFCEFF;
}
.border-cornBlue-theme-300{
    border-color: #BFCEFF;
}
.text-transform-unset
{
    text-transform: unset !important;
}
.nav-pills > li.active > a
{
    color: #fff;
    background-color: #0468FA;
    background-image: linear-gradient(#0468FA, #009BFF);
    border-radius: 15px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn-back-color{
    background-color: #F2F4F9;
}
.nav-pills > li + li > a {
    margin-top: 0;
    margin-left: 6px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 6px;
    border-radius: 15px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-back-revenue{
    background-color:#E5F9F2;
}

.active-revenue{
    background-image: linear-gradient(#28C590, #28C590) !important;
}

.border-radius-15{
    border-radius: 15px;
}

.border-radius-top-15{
    border-radius: 15px 15px 0 0 !important;
}
